.scrollContainer,
.scrollContent,
.absoluteContainer {
  height: 100vh;
}

.scrollContainer {
  overflow: auto;
  overscroll-behavior: none;
}

.scrollContent {
  padding-bottom: 1px;
}

.stickyContainer {
  position: sticky;
  top: 0;
  left: 0;
}

.absoluteContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
